USE [master]
GO
/****** Object:  Database [KitApp]    Script Date: 30.05.2021 21:44:28 ******/
CREATE DATABASE [KitApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KİtApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KİtApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KİtApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KİtApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KitApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KitApp]
GO
/****** Object:  User [nesimi]    Script Date: 30.05.2021 21:44:28 ******/
CREATE USER [nesimi] FOR LOGIN [nesimi] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [nesimi]
GO
/****** Object:  Table [dbo].[kitaplar]    Script Date: 30.05.2021 21:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kitaplar](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kitapAdi] [varchar](100) NULL,
	[yazari] [varchar](100) NULL,
	[kategori] [varchar](100) NULL,
	[sayfaSayisi] [varchar](100) NULL,
	[baskiSayisi] [varchar](100) NULL,
	[isbn] [varchar](100) NULL,
	[ozeti] [varchar](500) NULL,
	[resim] [image] NULL,
 CONSTRAINT [PK_kitaplar] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uyeler]    Script Date: 30.05.2021 21:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uyeler](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[uyeAdi] [varchar](50) NULL,
	[uyeSoyadi] [varchar](50) NULL,
	[uyeTelefon] [varchar](50) NULL,
	[kullaniciAdi] [varchar](50) NULL,
	[sifre] [varchar](50) NULL,
	[favori1] [varchar](50) NULL,
	[favori2] [varchar](50) NULL,
	[favori3] [varchar](50) NULL,
 CONSTRAINT [PK_uyeler] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[uyes]    Script Date: 30.05.2021 21:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[uyes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ad] [varchar](50) NULL,
 CONSTRAINT [PK_uyes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[yonetici]    Script Date: 30.05.2021 21:44:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[yonetici](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[yoneticiAd] [varchar](50) NULL,
	[kullaniciAdi] [varchar](50) NULL,
	[sifre] [varchar](50) NULL,
 CONSTRAINT [PK_yonetici] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
